@use '../functions' as *;
@use '../mixins' as *;

// Colors
$dark: #1c1c1c;
$light: #fcfcfc;
$yellow: #f7df1c;
$grey: #e1e1e1;
$red: #d75b5b;

// Type
$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Alatsi', sans-serif;

// Layout
$section-padding: em(16) em(20);

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    flex: 1;
    margin-right: em(4);
    &:last-child {
      margin-right: none;
    }
  }
  a {
    display: block;
    text-align: center;
    line-height: em(40);
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(white, 0.3);
      .sub-menu {
        display: block;
      }
    }
  }
}

.main-nav {
  width: 100%;
  background-color: transparent;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: height 0.5s ease, visibility 0s 0.5s;
  margin-left: 20%;

  .show & {
    transition: height 0.5s ease, visibility 0s;
    visibility: visible;
    height: 254px;
  }

  ul {
    @include flatten($is-list: true);
    display: grid;
    grid-template-columns: 1fr;
    a {
      padding: 0;
      text-align: center;
      border-top: none;
      @at-root .main-nav li:not(:first-child) a {
        border-top: none;
        border-left: 3px solid $grey;
      }
    }
  }
  ul.sub-menu {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    width: 250px;
    text-align: start;
    &:hover,
    &:focus {
      display: block;
    }
    a {
      text-align: start;
      margin-left: 50px;
    }
  }
  a {
    color: $light;
    text-decoration: none;
    display: block;
    line-height: 50px;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 12px;
    @at-root .main-nav li:not(:first-child) a {
      border-top: 1px solid $grey;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(white, 0.2);
      + .sub-menu {
        display: block;
      }
    }
  }

  @media (min-width: em(600)) {
    height: auto;
    visibility: visible;
    transition: none;

    .show & {
      transition: none;
      height: auto;
    }

    ul {
      display: flex;
    }

    li {
      flex: 1;
    }

    a {
      padding: 0;
      text-align: center;
      border-top: none;
      @at-root .main-nav li:not(:first-child) a {
        border-top: none;
        border-left: 3px solid $grey;
      }
    }
  }
}
.nav-sort {
  li {
    background-color: $highlightColor;
  }
  a {
    font-size: 0.9em;
  }
  @media (min-width: em(600)) {
    a {
      font-size: 1.25em;
    }
  }
  @media (min-width: em(800)) {
    a {
      font-size: 1.5em;
    }
  }
  @media (min-width: em(1200)) {
    a {
      font-size: 1.75em;
    }
  }
}
