// Variables

// Colors
$textColor: rgb(222, 222, 222);
$featureColor: #0041ab;
$highlightColor: #913f00;

// Breakpoints
$tablet: 540;
$desktop: 820;
$desktopWide: 1200;

//Breakpoints
$tablet: 600;
$desktop: 820;
$dekstopWide: 1200;

// Colors
$dark: #1c1c1c;
$light: #fcfcfc;
$yellow: #f7df1c;
$grey: #e1e1e1;
$red: #d75b5b;

// Type
$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Alatsi', sans-serif;

// Layout
$section-padding: em(16) em(20);