//wrapper
.wrapper{
    //if(comment{stretch background image individual mvie}
    // max-width: em(1400);
    height: 100%;
    margin: 0 auto;
    // border: 3px solid $testColor;
   
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;

   
}