//wrapper
.wrapper{
    //if(comment{stretch background image individual mvie}
    // max-width: em(1400);
    height: 100%;
    margin: 0 auto;
    // border: 3px solid $testColor;
   
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;

   
}

.heart{
    transform: scale(2);
    &:hover, &:active, &:focus{
        cursor: pointer;
        transform: scale(2.3);
    }
    path{
        fill: radient();
    }
}
.heart-active{
    path{
        fill:red;
    }
}
.nex-prev-bttn{
    width: 100%;
    display: flex;
    div{
        margin:15px;
    }
}